# .env files
.env.dev
.env.local
.env.*.local

# Symfony directories
/var/
/vendor/

# Log files
*.log

# Cache files
/cache/
/logs/

# IDE files
/.idea/
/*.iml

# Node modules
/node_modules/

# Composer files
/composer.phar

# Other unversioned files
/public/bundles/
/public/uploads/

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# JWT keys
/config/jwt/*.pem

# PHP CS Fixer
/tools/php-cs-fixer/
